{
  "enabled": true,
  "telemetry": false,
  "commit_linking": "always",
  "strategy_options": {
    "checkpoint_remote": {
      "provider": "artifacts",
      "repo": "git/__NS__/__CKPT_REPO__"
    }
  },
  "checkpoints": {
    "primary": {
      "type": "git-refs"
    }
  }
}
